.blog {
  padding: rem(50) 0 rem(100);

  @include maxq(855px) {
    padding: rem(25) 0 rem(50);
  }

  &__title {
    font-size: rem(36);
    font-weight: 300;
    text-transform: uppercase;

    @include maxq(450px) {
      font-size: rem(26);
    }
  }

  &__quotes {
    display: flex;
    justify-content: space-between;
    gap: 0 rem(20);

    @include maxq(800px) {
      flex-direction: column;
      gap: rem(20) 0;
    }

    &-content,
    &-img {
      flex: 1;
    }

    &-img {
      @include maxq(800px) {
        align-self: center;
      }
    }

    &-quote {
      blockquote:first-child {
        margin-bottom: rem(30);
      }

      span {
        display: block;
        color: var(--gold);
        font-size: rem(12);
        margin-bottom: rem(3);
      }

      h4 {
        font-weight: 700;
        margin-bottom: rem(10);
      }

      p {
        font-style: italic;
      }
    }
  }

  &__inner {
    padding: rem(80) 0 rem(100);
    position: relative;

    @include maxq(800px) {
      padding: rem(80) 0 rem(50);
    }
  }
}

.swiper-buttons {
  position: absolute;
  top: rem(20);
  left: 45%;
  display: flex;
  align-items: center;
  gap: 0 rem(20);

  div {
    cursor: pointer;
  }
}

.swiper-slide {
  img {
    margin-bottom: rem(20);
  }

  h4 {
    font-size: rem(20);
    margin-bottom: rem(10);
    font-weight: 400;
    min-height: rem(46);
  }

  p {
    margin-bottom: rem(10);
  }

  a {
    font-size: rem(12);
    color: var(--dg);
  }
}
