.track {
  background-image: url("./images/track-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: rem(47) 0 rem(90);
  height: 100vh;

  &__inner {
    height: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__title {
    margin-bottom: rem(30);
  }

  &__descr {
    p {
      max-width: rem(434);
    }
  }

  &__img {
    max-width: rem(742);
    align-self: center;
  }
}
