- const evoParams = [{title: 'ПЕРЕМЕЩЕНИЕ', value: '5204 см³'}, {title: 'КРУТЯЩИЙ МОМЕНТ', value: '570 Нм при 6500 об/мин'}, {title: 'МОЩНОСТЬ (л.с.) / МОЩНОСТЬ (КВТ)', value: '620 л.с. при 8250 об/мин'}, {title: 'МАКС. СКОРОСТЬ', value: '325 км /ч'}, {title: '0-100 КМ/Ч', value: '2,9 с'},]

section.evo
  .evo__inner
    .container
      .evo__descr
        h3.evo__descr-title СУПЕР ТРОФЕО ЭВО
        .evo__descr-text
          p
            | Новый Huracán Super Trofeo EVO достигает еще больших высот, чем его прославленный предшественник, благодаря полностью переработанной аэродинамике. Huracán Super Trofeo EVO является идеальной стартовой площадкой для всех водителей, которые хотят начать карьеру в гонках класса GT.
          p
            | Huracán EVO — это эволюция самого успешного Lamborghini с двигателем V10. В результате тонкой настройки и усовершенствования существующих функций в сочетании с новыми конструктивными решениями, повышающими производительность, автомобиль выделяется своей способностью предугадывать и удовлетворять поведение, ожидания и желания водителя.
      .evo__descr-footer
        img.evo__descr-img(src=require('../images/evo.png') alt='evo')
        .evo__descr-footer-text
          each evoParam in evoParams
            dl
              dd= evoParam.title
              dt= evoParam.value
  .container
    .evo__yt
      .evo__yt-text
        p
          | Его неповторимый дизайн — это естественная эволюция культовых линий Huracán, включающая новые сложные решения, поднимающие производительность и вызывающие эмоции на невиданный ранее уровень.
        p
          | Беспрецедентный обвес был разработан инженерами отдела автоспорта Automobili Lamborghini в сотрудничестве с Dallara Engineering и Lamborghini Centro Stile. Последний также разработал стартовую ливрею для автомобиля в честь партнерства между Lamborghini Squadra Corse и Roger Dubuis, которое началось в 2018 году.
        p
          | Среди наиболее очевидных изменений в обвесе Lamborghini Huracan Super Trofeo EVO — задний спойлер на заднем капоте и верхний воздухозаборник, которые делают его мгновенно узнаваемым для зрителей.
      .evo__video
        a.evo__video-link(href='#')
          img(src=require('../images/evo-yt-icon.svg') alt='evo-yt-icon')
          span смотреть онлайн
