section.intro
  h1.intro__title LAMBORGHINI SUPER TROFEO
  h2.intro__subtitle Гранд-финал 2022
    span 3-6 ноября
  p.intro__descr автодром Портимао,Португалия
  a.intro__arrow(href="#")
    img(src=require('../images/arrow.svg') alt='arrow')
