section.track
  .container.track__inner
    .track__wrapper
      .track__descr
        h3.info__title.track__title ТРЕК ПОРТИМАО
        p
          |Autodromo Internacional do Algarve находится в одноименном регионе на юге Португалии, недалеко от города
          |Портиман. Открытый в октябре 2008 года автогоночный комплекс является одним из самых современных в Европе,
          |раскинувшись на площади около 300 гектаров среди холмов, окружающих португальский город, а длина самой трассы
          |составляет 4684 метра.

      img.track__img(src=require('../images/track.svg') alt='track')
