@import "./styles/reset";

html {
  box-sizing: border-box;
  font-size: 87.5%;
}

$base-font-size: 14px;
@import "./styles/sass";

:root {
  --black: hsla(0, 0%, 2%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --gold: hsla(39, 90%, 33%, 1);
  --dg: hsla(0, 0%, 21%, 1);
  --lg: hsla(44, 93%, 67%, 1);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto Condensed, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
  color: var(--black);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

@import "./styles/common";
@import "./styles/header";
@import "./styles/intro";
@import "./styles/info";
@import "./styles/track";
@import "./styles/evo";
@import "./styles/blog";
